.DisplayBox{
  min-width: inherit;
  border-bottom: solid .125em white;
  margin: 0em auto;
  background: #dbdbdb;
  display: block;
  position: relative;
}

.Collapsed {
  height: calc(100% - .125em);
  overflow: hidden;
}

.Expanded {
  min-height: calc(100% - .125em);
}

.contents{
  width: calc(100% - 1.25em);
  margin: 0em auto;
  padding: .625em 0em;
  display: block;
}
