.DisplayImage{
  background: #d1d1d1;
  border-radius: 0.625em;
  max-width: 78em;
  max-height:30em;
  display: block;
  margin-top: 10px;
  overflow: hidden;
  box-shadow: 0.3125em 0.3125em 0.3125em grey;
  border: 1px solid rgba(255, 255, 255, 0.5);
}

.DisplayButtonsContainer{
  height: 2.6em;
  right: 0em;
  padding: 10px 20px;
  position: absolute;
  border-radius: 0.625em 0.625em 0 0;
  text-align: center;
  color: white;
}

.DisplayImage img {
  display: block;
  margin: 0 auto;
  max-width: 100%;
  max-height: 100%;
}
