.DisplayBoxDescription {
  max-width: 78em;
  display: block;
  background: #d1d1d1;
  border-radius: 0.625em;
  margin-top: .625em;
  overflow: hidden;
  box-shadow: 0.3125em 0.3125em 0.3125em grey;
  color: black;
  text-shadow: 0.03125em 0.03125em 0.0625em white, 0.09375em 0.09375em 0.09375em grey;
  border: 1px solid rgba(255, 255, 255, 0.5);
}

.description {
  min-height: calc(35% - .125em);
  padding: .625em;

}
