.DisplayBoxDescription {
  max-width: 78em;
  display: block;
  background: #d1d1d1;
  margin-top: .625em;
  overflow: hidden;
  min-height: calc(35% - .125em);
}

.description {
  padding: .625em;

}
