.ImageCycler{
    max-width: 100%;
    max-height: 100%;
    position: fixed;
    z-index: 100;
    top:0;
    bottom:0;
    right: 0;
    left: 0;
    padding: 2.5em 1.25em;
    background-color: rgba(0, 0, 0, 0.8);
    overflow: auto;
  }

.ImageCycler .HeaderBar {
  height: 2.5em;
  border-bottom: groove 0.0625em rgba(255, 255, 255, 0.25);
  padding: 0.3125em 0.3125em 0.625em;
  margin-bottom: 0.625em;
}

.ImageBackDrop{
  width: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  border: groove 0.0625em rgba(255, 255, 255, 0.25);
  border-radius: 0.625em;
  padding-bottom: 2.8125em;
  box-shadow: 0.3125em 0.3125em 0.3125em black;
}

.ImageHolder {
  z-index: 101;
  margin:auto;
  height: 90%;
  width: 90%;
  display: block;
}

.ImageCycler img {
    border: groove 0.0625em rgba(255, 255, 255, 0.25);
    border-radius: 0.625em;
    box-shadow: 0.3125em 0.3125em 0.3125em black;
    max-width: 100%;
    max-height: 100%;
  }
