body {
  height: 100vh;
  width: 100%;
  margin: 0px;
  padding: 0px;
  background: #ededed;
  overflow: hidden;

}

.mainMenuBar {
  min-width: 800px;
  width: 70%;
  height: 100%;
  margin: auto;
  overflow: hidden;
}
