.MenuBar {
  height: 38px;
  width: 100%;
  color: white;
  background: #14a5ff;
  font-family: Lucida Console;
  overflow: hidden;
  border-bottom: solid 2px white;
}

.MenuBar ul {
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;

}

.MenuBar .MenuItem :hover{
  height: 100%;
  background: #56beff;
}

.MenuBar .MenuItem :active{
  height: 100%;
  background: #72c9ff;
}

.MenuBar .MenuItem .selected{
  height: 100%;
  background: #42b6ff;
}
