.MenuBar {
  height: 38px;
  width: 100%;
  color: white;
  text-shadow: 0.0625em 0.0625em 0.125em Black, 0 0 0.125em black, 0.3125em 0.3125em 0.3125em grey;
  background: #14a5ff;
  font-family: Lucida Console;
  overflow: hidden;
  border-bottom: ridge .125em white;
  box-shadow: 0.3125em 0.3125em 0.3125em grey;
}

.MenuBar ul {
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
}

.MenuBar .MenuItem :hover{
  height: 100%;
  background: #56beff;
}

.MenuBar .MenuItem :active{
  height: 100%;
  background: #72c9ff;
}

.MenuBar .MenuItem .selected{
  height: 100%;
  background: #42b6ff;
}
